.barraNavegacion {
    background-color: #FFFFFF;
    box-shadow:1px 1px 3px #828282;
}

.logo {
    width: 75px;
    margin-top: -10px;

}

.perfil  {

margin-top: 10px;
margin-left: 10px;
font-size:larger;

}

.nav-item {

    margin-top: 15px;
    margin-left: 10px;
    


}


.dropdownPerfil {

    margin-left: -65px;



}