* {
    font-family: 'Anek';
    font-style: normal;
}

.app-container {
    background-color: #F2F3F5;
    font-family: 'Lohit';
    min-height: 100vh;

}

.miperfil {
  color: #000;
      letter-spacing: -1.26px;
      margin-left: 350px;
      font: 400 36px/179% Lohit Devanagari, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.miperfil {
  color: #000;
      letter-spacing: -1.26px;
      margin-left: 350px;
      font: 400 36px/179% Lohit Devanagari, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.miembros {
  color: #000;
  letter-spacing: -1.26px;
  margin-left: 20px;
  font: 400 36px/179% Lohit Devanagari, -apple-system, Roboto, Helvetica,
    sans-serif;


}
.contenido {
  color: #000;
  letter-spacing: -1.26px;
  margin-left: 20px;
  font: 200 36px/179% Lohit Devanagari, -apple-system, Roboto, Helvetica,
    sans-serif;

}



.bordeColumna {
  background-color: #ffffff;
  border-width: 1px;
  border-color: #828282;
  border-style:solid;
  min-height: 700px;

}

.bordeColumnaVencimiento {
  background-color: #ffffff;
  border-width: 1px;
  border-color: #828282;
  border-style:solid;
  margin-left: 0px;
  font: 400 24px/179% Lohit Devanagari, -apple-system, Roboto, Helvetica,
    sans-serif;

}





.botonCrear {
  background-color: black;  
}

