  
<div class="app-container"> 
    <app-header></app-header>

<div class="container mt-4 col-md-5">
    <h2>Modificar tarea</h2>

    <div class="seccionFormulario row d-flex justify-content-center align-items-center">
        <div class="col-md-11">
            <form (ngSubmit)="modificarTarea()">
                <br>
                <input class="form-control" type="text" name="nombre" [(ngModel)]="tarea.nombre" placeholder="Nombre de la tarea">
                <br>
                <input class="form-control" type="text"  name="grupo" [(ngModel)]="tarea.id_grupo" placeholder="Grupo">
                <br>
                <textarea class="form-control" name="descripcion" [(ngModel)]="tarea.contenido" rows="10" placeholder="Descripcion" cols="40"></textarea>
                <br>
                <input class="form-control" type="datetime-local" [(ngModel)]="tarea.fecha_limite" name="fecha_limite" placeholder="Fecha limite" type="text" onfocus="(this.type='date')" onblur="(this.type= this.value ? 'date' : 'text')">
                <br>
                <div class="row justify-content-end">
                <button type="submit"  class="botonCrear btn btn-dark ">Modificar</button>
            </div>
        </form>
            <br>
         </div>
    </div>
</div>
</div>
