<div class="fondo d-flex justify-content-center">
    <div class="login justify-content-center"> 
        <div class="imagen d-flex justify-content-center">
            <img src="../../assets/images/v1_35.png" alt="Logo de Workgroup"> 
        </div>
        <br>
        <form #dataForm="ngForm" (ngSubmit)="registroUsuario(dataForm.value)">
        <div class="formularios container ">
            <div class="p-2 d-flex justify-content-center">
                <input class="nombreapellido form-control" type="text" ngModel name="nombre" placeholder="Nombre">
                <input class="nombreapellido form-control" type="text" ngModel name="apellido" placeholder="Apellido">
            </div>
            <div class="p-2 d-flex justify-content-center">
                <input class="form-control" type="email" ngModel name="email" placeholder="Correo electronico">
            </div>
            <div class="p-2 d-flex justify-content-center">
                <input class="form-control" type="password" ngModel name="password" placeholder="Contraseña">
            </div>
            <div class="p-2 d-flex justify-content-center">
                <input class="form-control" type="password" ngModel name="c_password" placeholder="Confirmar contraseña">
            </div>
        </div>
        <div class="d-flex flex-row justify-content-start">
            <b *ngIf="sinCredenciales" class="credencialesInvalidas"> Los campos estan vacios </b>
            <b *ngIf="passwordSinCoincidir" class="credencialesInvalidas"> Las contraseñas no coinciden </b>

        </div>
        <div class="botonesCrearIngresar">
            <div class="d-flex flex-row justify-content-center">
                <div class="p-2" >  
                    <p>¿Ya tienes una cuenta?</p>
                    <p class="d-flex justify-content-center"  routerLink="/">Ingresa aquí</p>
                </div>
                <div class="p-5"></div>
                <div class="p-5"></div>
                <div class="p-4"></div>
                <div class="p-2">
                    <button class="botonEnviar btn btn-dark">Registrarme</button>
                         
                </div>
       
            </div>
        </div>
    </form>
</div>