* {
    font-family: 'Anek';
    font-style: normal;
}

.app-container {
    background-color: #F2F3F5;
    font-family: 'Lohit';
    min-height: 100vh;

}
.seccionFormulario {
    background-color: #ffffff;
    border-width: 1px;
    border-color: #828282;
    border-style:double;
    min-height: 500px;

}

input, textarea {
    background-color: #D9D9D9;


}
.botonCrear {
    background-color: black;  
    margin-right: 11px;
}
a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}

.nombre {
    margin-top:5px;
    margin-left:15px;
}

.miembros {
    margin-top:-10px;
    margin-left:15px;
}